[submodule "bundle/awesome-vim-colorschemes"]
	path = bundle/awesome-vim-colorschemes
	url = https://github.com/rafi/awesome-vim-colorschemes.git
[submodule "bundle/YouCompleteMe"]
	path = bundle/YouCompleteMe
	url = https://github.com/ycm-core/YouCompleteMe.git
[submodule "bundle/ale"]
	path = bundle/ale
	url = https://github.com/dense-analysis/ale.git
[submodule "bundle/lightline.vim"]
	path = bundle/lightline.vim
	url = https://github.com/itchyny/lightline.vim.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/vim-syntastic/syntastic.git
[submodule "bundle/ultisnips"]
	path = bundle/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule "bundle/vim-latex-live-preview"]
	path = bundle/vim-latex-live-preview
	url = https://github.com/xuhdev/vim-latex-live-preview.git
[submodule "bundle/vimtex"]
	path = bundle/vimtex
	url = https://github.com/lervag/vimtex.git
